* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main h1 {
    color: white;
    font-size: 7vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#cursor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    transition: all linear 100ms;
    mix-blend-mode: difference;
}